@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    font-family: 'Roboto', sans-serif; 
    background-color: #f0fdf4; 
}

.map-container {
    border: 2px solid #16a34a; 
}